<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Jagannath Temple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Jagannath Temple" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{{url_for('static',filename = 'css/bootstrap.css')}}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{{url_for('static',filename = 'css/shop.css')}}" type="text/css" rel="stylesheet" media="all">
    <!-- checkout css -->
    <link href="{{url_for('static',filename = 'css/checkout.css')}}" type="text/css" rel="stylesheet" media="all">
    <link href="{{url_for('static',filename = 'css/style.css')}}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{{url_for('static',filename = 'css/font-awesome.css')}}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
	
	

	<!-- Range-slider-css -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/jquery-ui1.css')}}">
	<!-- common-css -->
	<link href="{{url_for('static',filename = 'css/style.css')}}" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link href="https://fonts.googleapis.com/css?family=Cinzel|Francois+One|Great+Vibes|Merienda" rel="stylesheet">
		
	
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    	{% extends "base.html" %}
        {% block content %}
        
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        Custom Thali Booking
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div><br><br><br>
		<!-- Shop -->
        <div class="innerf-pages section">
            <div class="container">
                <div class="privacy about">
                    <h4 class="rad-txt">
                        <span class="abtxt1">Custom</span>
                        <span class="abtext">your order</span>
                    </h4>

                    <div class="checkout-right">
                        <h4>Select:    
                        </h4>
                        <table class="timetable_sub table-responsive">
                            <thead>
                                <tr>
                                    <th>SL No.</th>
                                    <th>Bhog item</th>
                                    <th>Quantity</th>
                                    <th>Bhog Name</th>
                                    <th>Price</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="rem1">
                                    <td class="invert">1</td>
                                    <td class="invert-image">
                                        <a href="single_product.html">
                                            <img src="static\images\bhog.jpg" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>1</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">Suar Pitha</td>

                                    <td class="invert">Rs.100.00</td>
                                   
                                </tr>
								<tr class="rem2">
                                    <td class="invert">2</td>
                                    <td class="invert-image">
                                        <a href="single_product.html">
                                            <img src="static\images\bhog.jpg" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>1</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">Bada Amalu</td>

                                    <td class="invert">Rs.100.00</td>
                                    
                                </tr>
								<tr class="rem3">
                                    <td class="invert">3</td>
                                    <td class="invert-image">
                                        <a href="single_product.html">
                                            <img src="static\images\bhog.jpg" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>1</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">Marichi Ladu</td>

                                    <td class="invert">Rs.100.00</td>
                                   
                                </tr>
								<tr class="rem4">
                                    <td class="invert">4</td>
                                    <td class="invert-image">
                                        <a href="single_product.html">
                                            <img src="static\images\bhog.jpg" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>1</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">Dala Khechudi</td>

                                    <td class="invert">Rs.100.00</td>
                                    
                                </tr>
								<tr class="rem5">
                                    <td class="invert">5</td>
                                    <td class="invert-image">
                                        <a href="single_product.html">
                                            <img src="static\images\bhog.jpg" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>1</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">Nadia Khudi</td>

                                    <td class="invert">Rs.100.00</td>
                                    
                                </tr>
                                <tr class="rem6">
                                    <td class="invert">6</td>
                                    <td class="invert-image">
                                        <a href="single_product.html">
                                            <img src="static\images\bhog.jpg" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>1</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">Big Kora</td>

                                    <td class="invert">Rs.100.00</td>
                                    
                                </tr>
                                <tr class="rem7">
                                    <td class="invert">7</td>
                                    <td class="invert-image">
                                        <a href="single_product.html">
                                            <img src="static\images\bhog.jpg" alt=" " class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>1</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">Biri Badi</td>

                                    <td class="invert">Rs.100.00</td>
                                    
                                </tr>

                            </tbody>
                        </table>
                    </div>
					<br><br>
                    <form action="/prasadbook">
					<center>
						<a href="/prasadbook"><button type="submit" value="submit" class="btn btn-primary2">proceed to fill details</button></a>
					</center>
                    </form>
                </div>

            </div>
        </div>
	
 <!-- footer -->
     {% endblock %}    
<!-- //home -->
	<!-- js -->
	<!-- Common js -->
	<script src="{{url_for('static',filename = 'js/jquery-2.2.3.min.js')}}"></script>
	<!--// Common js -->
	<!-- cart-js -->
	<script src="{{url_for('static',filename = 'js/minicart.js')}}"></script>
	
	<script src="{{url_for('static',filename = 'js/jquery-ui.js')}}"></script>
	

	<!-- dropdown nav -->
	< <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
	</script>
	<!-- //dropdown nav -->
	<!--search jQuery-->
	<script src="{{url_for('static',filename = 'js/main.js')}}"></script>
	<!--search jQuery-->

	<!-- Scrolling Nav JavaScript -->
	<script src="{{url_for('static',filename = 'js/scrolling-nav.js')}}"></script>
	<!-- //fixed-scroll-nav-js -->
	<!--//scripts-->

	<script src="{{url_for('static',filename = 'js/bootstrap.js')}}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{{url_for('static',filename = 'js/move-top.js')}}"></script>
	<script src="{{url_for('static',filename = 'js/easing.js')}}"></script>
	<script>
		$(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!--search jQuery-->
    <script src="{{url_for('static',filename = 'js/main.js')}}"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="{{url_for('static',filename = 'js/minicart.js')}}"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- gallery desoslide -->
    <script src="{{url_for('static',filename = 'js/jquery.desoslide.min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/demo.js')}}"></script>
    <!-- gallery desoslide -->
    <!-- Scrolling Nav JavaScript -->
    <script src="{{url_for('static',filename = 'js/scrolling-nav.js')}}"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- start-smooth-scrolling -->
    <script src="{{url_for('static',filename = 'js/move-top.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/easing.js')}}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
	<!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{{url_for('static',filename = 'js/SmoothScroll.min.js')}}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- about bottom grid Numscroller -->
    <script src="{{url_for('static',filename = 'js/numscroller-1.0.js')}}"></script>
    <!-- //about bottom grid Numscroller -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static',filename = 'js/bootstrap.js')}}"></script>
</body>

</html>