<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Jagannath Temple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Jagannath Temple" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{{url_for('static',filename = 'css/bootstrap.css')}}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{{url_for('static',filename = 'css/shop.css')}}" type="text/css" rel="stylesheet" media="all">
    <!-- gallery desoslide -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/jquery.desoslide.css')}}">
    <!-- gallery desoslide -->
    <link href="{{url_for('static',filename = 'css/style.css')}}" type="text/css" rel="stylesheet" media="all">
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Francois+One|Great+Vibes|Merienda" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/font-awesome.css')}}" rel="stylesheet">
	
	
    <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
	
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% extends "base.html" %}
    {% block content %}
    
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        Darshan
						
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div><br><br><br>
		<!-- Shop -->
		<div id="about" style="margin-top:30px;" class="mainbox aboutbox text-center">
		<div class="panel panel-info"><br>		
            <div class="container">	
                <h4 class="rad-txt">
                    <span class="abtxt1">Darshan </span>
					<span class="abtext">Details</span>
                    
                </h4>
	<form action="/darshan" method="post">
	<div class="row">
	    <div class="col-md-12">
	        <div class="caption">					
	 	         <h2> Select a Darshan to Continue </h2>
	        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
            <div class="thumbnail1">
                <img src="static\images\darshan1.jpg" alt="darshan1" style="width:100%">
                   <div class="caption">
                       <p><b>Special Morning Darshan</b></p>
		               <p>5AM - 10AM</p>
		               <p>Priority Lane</p>
		               <p>Bhog at exit</p>
		               <p><b>Rs. 1000</b></p>
		               <br>	
		               <button type="submit" name="darshan" value="darshan1"  formaction="/darshan" class="btn btn-primary">
                                             Select</button>
                   </div>
            </div>
       </div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
          <div class="thumbnail1">
              <img src="static\images\darshan2.jpg" alt="darshan2" style="width:100%">
              <div class="caption">
		          <p><b>Morning Darshan</b></p>
		          <p>5AM - 10AM</p>
		          <p><b>Rs. 700</b></p>
		           <br>
		            <button type="submit" name="darshan"  value="darshan2" formaction="/darshan" class="btn btn-primary">
                                             Select</button>
              </div>   
          </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
          <div class="thumbnail1">
              <img src="static\images\darshan3.jpg" alt="darshan3" style="width:100%">
              <div class="caption">
                  <p><b>Special Afternoon Darshan</b></p>
		          <p>11AM - 1PM</p>
		          <p>Priority Lane</p>
		          <p>Bhog at exit</p>
		          <p><b>Rs. 1000</b></p>
		           <br>	
		          <button type="submit"  name="darshan"  value="darshan3"  formaction="/darshan" class="btn btn-primary">
                                            Select</button>
              </div>
         </div>
      </div>
</div>

<div class="row">
<div class="col-md-4">
    <div class="thumbnail1">
      
        <img src="static\images\darshan4.jpg" alt="darshan4" style="width:100%">
        <div class="caption">
           <p><b>Afternoon Darshan</b></p>
		  <p>11AM - 1PM</p>
		   <p><b>Rs. 700</b></p>
        <br><br><br><br>	
		  <button type="submit"  name="darshan" value = "darshan4" formaction="/darshan" class="btn btn-primary">
                                             Select</button>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail1">
      
        <img src="static\images\darshan5.jpg" alt="darshan5" style="width:100%">
        <div class="caption">
          
           <p><b>Special Evening Darshan</b></p>
		  <p>3PM - 8PM</p>
		  <p>Priority Lane</p>
		  <p>Bhog at exit</p>
		  <p><b>Rs. 1000</b></p>
        <br>	
		  <button type="submit" name="darshan"  value = "darshan5" formaction="/darshan" class="btn btn-primary">
                                             Select</button>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail1">
      
        <img src="static\images\darshan6.jpg" alt="darshan6" style="width:100%">
        <div class="caption">
          <p><b>Evening Darshan</b></p>
		  <p>3PM - 8PM</p>
		  <p><b>Rs. 1000</b></p>
		  <br><br><br><br>	
		  <button type="submit"  name = "darshan" value="darshan6"  formaction="/darshan" class="btn btn-primary">
                                             Select</button>
        </div>
      
    </div>
  </div>
</div>

   {{ msg }}

</form>
</div>
</div>
  
	</div>

			
	
 <!-- footer -->
 {% endblock %}
<!-- //home -->
	<!-- js -->
	<!-- Common js -->
	<script src="{{url_for('static',filename = 'js/jquery-2.2.3.min.js')}}"></script>
	<!--// Common js -->
	<!-- cart-js -->
	<script src="{{url_for('static',filename = 'js/minicart.js')}}"></script>
	
	<script src="{{url_for('static',filename = 'js/jquery-ui.js')}}"></script>
	

	<!-- dropdown nav -->
	< <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
	</script>
	<!-- //dropdown nav -->
	<!--search jQuery-->
	<script src="{{url_for('static',filename = 'js/main.js')}}"></script>
	<!--search jQuery-->

	<!-- Scrolling Nav JavaScript -->
	<script src="{{url_for('static',filename = 'js/scrolling-nav.js')}}"></script>
	<!-- //fixed-scroll-nav-js -->
	<!--//scripts-->

	<script src="{{url_for('static',filename = 'js/bootstrap.js')}}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{{url_for('static',filename = 'js/move-top.js')}}"></script>
	<script src="{{url_for('static',filename = 'js/easing.js')}}"></script>
	<script>
		$(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!--search jQuery-->
    <script src="{{url_for('static',filename = 'js/main.js')}}"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="{{url_for('static',filename = 'js/minicart.js')}}"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- gallery desoslide -->
    <script src="{{url_for('static',filename = 'js/jquery.desoslide.min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/demo.js')}}"></script>
    <!-- gallery desoslide -->
    <!-- Scrolling Nav JavaScript -->
    <script src="{{url_for('static',filename = 'js/scrolling-nav.js')}}"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- start-smooth-scrolling -->
    <script src="{{url_for('static',filename = 'js/move-top.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/easing.js')}}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{{url_for('static',filename = 'js/SmoothScroll.min.js')}}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- about bottom grid Numscroller -->
    <script src="{{url('static',filename = 'js/numscroller-1.0.js')}}"></script>
    <!-- //about bottom grid Numscroller -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static',filename = 'js/bootstrap.js')}}"></script>
</body>

</html>