<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
   <title>Jagannath Temple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Jagannath Temple" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="static/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Francois+One|Great+Vibes|Merienda" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
     {% extends "base.html" %}
     {% block content %}


      <!-- banner -->
        <div class="banner-bg-agileits">
            <!-- banner-text -->
            <div class="banner-text">
                <div class="container">
                    <p class="b-txt">Lord Jagannath</p>
                    <h2 class="title">
                         Temple Website
                    </h2>
                    <ul class="banner-txt">
                        <li>Jagannath</li>
                        <li>Balabhadra</li>
                        <li>Subhadra</li>
                    </ul>
                </div>
            </div>
            <!-- //banner-text -->
        </div><br>
        <!-- //banner -->

	
        <!-- about -->
        <div class="about-sec section" id="about">
            <div class="container">
                <!-- about-left-grid -->
                <div class="col-md-7 about-left-grid">
                    <div class="inner-about2">
                        
                        
                        <h5>Our Services</h5><br><br>
                        <ul class="about-list">
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i><a href="/aboutus#darsh">Darshan</a></li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i><a href="/aboutus#puj">Puja</a></li>
                       
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i><a href="/aboutus#hal">Bookings</a></li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i><a href="/aboutus#don">Donations</a></li>
                            <li>
                                <i class="fa fa-play-circle-o" aria-hidden="true"></i><a href="/aboutus#mah">Prasad Booking</a></li>

                        </ul>
                        
                    </div>
                    <!-- about left bottom - services -->
					<div class="row">
                    <div class="principles-grids principles-grids1">
                        <div class="abt-btm agileits w3layouts aos-init aos-animate">
                            <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                                <div class="bott-img agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                        <img src="static\images\mi.jpg" style="width:100px;height:100px;">
                                    </div>
                                    <h4 class="mission agileits w3layouts">Temple History</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="/aboutus">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                                <div class="bott-img bott-img1 agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                       <img src="static\images\mi.jpg" style="width:100px;height:100px;">
                                    </div>
                                    <h4 class="mission agileits w3layouts">Festivals</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="/aboutus">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- //about left bottom - services ends here -->
                </div>
				<div class="row">
                    <div class="principles-grids principles-grids1">
                        <div class="abt-btm agileits w3layouts aos-init aos-animate">
                            <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                                <div class="bott-img agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                        <img src="static\images\mi.jpg" style="width:100px;height:100px;">
                                    </div>
                                    <h4 class="mission agileits w3layouts">Temple Notice</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="/aboutus">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                                <div class="bott-img bott-img1 agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                       <img src="static\images\mi.jpg" style="width:100px;height:100px;">
                                    </div>
                                    <h4 class="mission agileits w3layouts">Temple Calendar</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="/aboutus#cal">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- //about left bottom - services ends here -->
                </div>
				</div>
                <!-- //about-left-grid ends here-->
                <!-- about-right-grid -->
				
                <div class="col-md-5 about-right-grid">
				<img src="static\images\mi.jpg" style="width:460px;height:450px;"></div>
				<div class="col-md-4 about-right-grid">
				<img src="static\images\temple2.jpg" style="width:460px;height:450px;">
                <!-- //about-right-grid ends here -->
                
            </div>
        </div><br><br>
        <!-- //about ends here -->
       <!-- about bottom -->
        <div id="about" style="margin-top:30px;" class="mainbox aboutbox text-center">
    <div class="panel panel-info">
                   <h2 align="justify"> Jagannath (Odia: ଜଗନ୍ନାଥ, IAST: Jagannātha, or Jagannatha) literally means "Lord of the Universe" and is a deity worshipped in regional traditions of Hinduism and Buddhism in India and Bangladesh. Jagannath is considered a form of Vishnu.[1] He is a part of a triad along with his brother Balabhadra and sister Subhadra. To some Vaishnava Hindus, Jagannath is an abstract representation of Krishna; to some Shaiva and Shakta Hindus, he is a symmetry-filled tantric representation of Bhairava; to some Buddhists, he is symbolism for Buddha in the Buddha-Sangha-Dhamma triad; to some Jains, his name and his festive rituals are derived from Jeenanath of Jainism tradition.
				   </h2>
				   </div></div>
               
       <br>
        <!-- footer -->
         {% endblock %}
    <!-- //home -->
    <!-- js -->
     <script src="{{url_for('static',filename ='js/jquery-2.2.3.min.js')}}"></script>
    <!-- //js -->
    <!--search jQuery-->
    <script src="{{url_for('static',filename ='js/main.js')}}"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="{{url_for('static',filename ='js/minicart.js')}}"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- Scrolling Nav JavaScript -->
    <script src="{{url_for('static',filename = 'js/scrolling-nav.js')}}"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $.(".dropdown").hover(
                function () {
                    $.('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $.(this).toggleClass('open');
                },
                function () {
                    $.('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $.(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- start-smooth-scrolling -->
    <script src="{{url_for('static',filename = 'js/move-top.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/easing.js')}}"></script>
    <script>
        jQuery(document).ready(function ($.) {
            $.(".scroll").click(function (event) {
                event.preventDefault();

                $.('html,body').animate({
                    scrollTop: $.(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $.().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{{url_for('static',filename = 'js/SmoothScroll.min.js')}}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- about bottom grid Numscroller -->
    <script src="{{url_for('static',filename = 'js/numscroller-1.0.js')}}"></script>
    <!-- //about bottom grid Numscroller -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static',filename = 'js/bootstrap.js')}}"></script>
</body>

</html>