<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Jagannath Temple </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; chaRs.et=utf-8" />
	<meta name="keywords" content="Jagannath Temple />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="{{url_for('static',filename = 'css/bootstrap.css')}}" type="text/css" rel="stylesheet" media="all">
	<!-- shop css -->
	<link href="{{url_for('static',filename = 'css/shop.css')}}" type="text/css" rel="stylesheet" media="all">
	<!-- checkout css -->
	<link href="{{url_for('static',filename = 'css/checkout.css')}}" type="text/css" rel="stylesheet" media="all">
	<!-- Range-slider-css -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/jquery-ui1.css')}}">
	<!-- common-css -->
	<link href="{{url_for('static',filename = 'css/style.css')}}" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link href="{{url_for('static',filename = 'css/font-awesome.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<!-- //Custom Theme files -->
	<!-- online-fonts -->
	<!-- logo -->
	<link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Francois+One|Great+Vibes|Merienda" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //online-fonts -->
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% extends "base.html" %}
    {% block content %}
    	

    	<!-- banner -->
		<div class="banner-bg-inner">
			<!-- banner-text -->
			<div class="banner-text-inner">
				<div class="container">
					<h2 class="title-inner">
						Temple Shop
					</h2>

				</div>
			</div>
			<!-- //banner-text -->
		</div>
		<!-- //banner -->
		<!-- Shop -->
		
	<form action="/shopbooking" method="post">	
	<div class="col-md-3 product-men">
		<div class="product-chr-info chr">
			<div class="thumbnail">
				<a href="/shopbooking" name="bhog" value="bhog">
					<img src="static\images\jgn.jpg" alt="">
			</div>
			<div class="caption">
				<h4>Jagannath Idol</h4>
				<div class="matrlf-mid">
					<ul class="price-list">
					    <li>Rs 100.00</li>
					</ul>
					<div class="clearfix"> </div>
			    </div>
				<h4> Select  to Continue </h4>
			</div>
		</div>
    </div>	
	<div class="col-md-3 product-men">		
		<div class="product-chr-info chr">
			<div class="thumbnail">
				<a href="/shopbooking" name="bhog" value="bhog">				
				<img src="static\images\jgn.jpg" alt=""><br><br>							
			</div>
			<div class="caption">
				<h4>Jagannath Chain</h4>
					<div class="matrlf-mid">											
						<ul class="price-list">
						   <li>Rs 100.00</li>
					    </ul>
                        <div class="clearfix"> </div>
				    </div>
					<h4> Select to Continue </h4>
			</div>
		</div>
	</div>
    <div class="col-md-3 product-men">
		<div class="product-chr-info chr">
			<div class="thumbnail">
				<a href="/shopbooking" name="bhog" value="bhog">
				<img src="static\images\bhog.jpg" alt=""><br><br>
            </div>
			<div class="caption">
				<h4>Religious Books1</h4>
				<div class="matrlf-mid">
					<ul class="price-list">
						<li>Rs 100.00</li>
					</ul>
				    <div class="clearfix"> </div>
				</div>
				<h4> Select to Continue </h4>
			</div>
		</div>
	</div>	
	<div class="col-md-3 product-men">
		<div class="product-chr-info chr">
			<div class="thumbnail">
				<a href="/shopbooking" name="bhog" value="bhog">
				<img src="static\images\bhog.jpg" alt=""><br><br>		
			</div>
			<div class="caption">
				<h4>xyz1</h4>					
				<div class="matrlf-mid">							
				    <ul class="price-list">
						<li>Rs 100.00</li>
					</ul>
                    <div class="clearfix"> </div>
				</div>
				<h4> Select to Continue </h4>
			</div>
		</div>
	</div>								
	<div class="col-md-3 product-men">
		<div class="product-chr-info chr">
			<div class="thumbnail">
				<a href="/shopbooking" name="bhog" value="bhog">
				<img src="static\images\bhog.jpg" alt=""><br><br>				
			</div>
			<div class="caption">
				<h4>xyz2</h4>						
				<div class="matrlf-mid">	
					<ul class="price-list">
						<li>Rs 100.00</li>
				    </ul>
				    <div class="clearfix"> </div>
			     </div>
				 <h4> Select to Continue </h4>
			</div>
		</div>
	</div>	
	<div class="col-md-3 product-men">
		<div class="product-chr-info chr">
			<div class="thumbnail">
				<a href="/shopbooking" name="bhog" value="bhog">
				<img src="images\bhog.jpg" alt=""><br><br><br><br>						
			</div>
			<div class="caption">
				<h4>xyz3</h4>
			    <div class="matrlf-mid">	
				    <ul class="price-list">
						<li>Rs 100.00</li>
					</ul>
					<div class="clearfix"> </div>
			    </div>
				<h4> Select to Continue </h4>
			</div>
		</div>
	</div>
	<div class="col-md-3 product-men">
		<div class="product-chr-info chr">
		    <div class="thumbnail">
			    <a href="/shopbooking" name="bhog" value="bhog">
				<img src="images\bhog.jpg" alt="">						
			</div>
		    <div class="caption">
				<h4>xyz3</h4>
				<div class="matrlf-mid">	
					<ul class="price-list">
						<li>Rs 100.00</li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<h4> Select to Continue </h4>
		    </div>
		</div>
	</div>
    <div class="col-md-3 product-men">
	    <div class="product-chr-info chr">
			<div class="thumbnail">
			    <a href="/shopbooking" name="bhog" value="bhog">
			    <img src="images\bhog.jpg" alt="">
            </div>
			<div class="caption">
				<h4>xyz4</h4>				
				<div class="matrlf-mid">						
					<ul class="price-list">
						<li>Rs 100.00</li>
			    	</ul>
				    <div class="clearfix"> </div>
				</div>
				<h4> Select to Continue </h4>
			</div>
		</div>
     </div>	
	<br><br>
	</form>
		</div>
				<!-- //product left -->
	</div>
     {% endblock %}    		
	<!-- js -->
	<!-- Common js -->
	<script src="{{url_for('static',filename = 'js/jquery-2.2.3.min.js')}}"></script>
	<!--// Common js -->
	<!-- cart-js -->
	<script src="{{url_for('static',filename = 'js/minicart.js')}}"></script>
	<script>
		chr.render();

		chr.cart.on('new_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- price range (top products) -->
	<script src="{{url_for('static',filename = 'js/jquery-ui.js')}}"></script>
	<script>
		//<![CDATA[ 
		Rs..(window).load(function () {
			Rs..("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					Rs..("#amount").val("Rs.." + ui.values[0] + " - Rs.." + ui.values[1]);
				}
			});
			Rs..("#amount").val("Rs.." + Rs..("#slider-range").slider("values", 0) + " - Rs.." + Rs..("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->

	<!-- dropdown nav -->
	<script>
		Rs..(document).ready(function () {
			Rs..(".dropdown").hover(
				function () {
					Rs..('.dropdown-menu', this).stop(true, true).slideDown("fast");
					Rs..(this).toggleClass('open');
				},
				function () {
					Rs..('.dropdown-menu', this).stop(true, true).slideUp("fast");
					Rs..(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<!--search jQuery-->
	<script src="{{url_for('static',filename = 'js/main.js')}}"></script>
	<!--search jQuery-->

	<!-- Scrolling Nav JavaScript -->
	<script src="{{url_for('static',filename = 'js/scrolling-nav.js')}}"></script>
	<!-- //fixed-scroll-nav-js -->
	<!--//scripts-->

	<script src="{{url_for('static',filename = 'js/bootstrap.js')}}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{{url_for('static',filename = 'js/move-top.js')}}"></script>
	<script src="{{url_for('static',filename = 'js/easing.js')}}"></script>
	<script>
		jQuery(document).ready(function (Rs..) {
			Rs..(".scroll").click(function (event) {
				event.preventDefault();
				Rs..('html,body').animate({
					scrollTop: Rs..(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here staRs. scrolling icon -->
	<script>
		Rs..(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			Rs..().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<script src="{{url_for('static',filename = 'js/SmoothScroll.min.js')}}"></script>
	<!-- //smoothscroll -->

</body>

</html>